.foreground-primary {
  color: var(--color-primary);
}

.foreground-secondary {
  color: var(--color-secondary);
}

.foreground-tertiary {
  color: var(--color-tertiary);
}

.foreground-glint {
  color: var(--color-glint);
}

.foreground-white {
  color: var(--color-white);
}

.foreground-background {
  color: var(--color-background);
}

.foreground-light {
  color: var(--color-light);
}

.foreground-dark {
  color: var(--color-dark);
}
