.margin-top-none {
  margin-top: 0;
}

.margin-top-xs {
  margin-top: var(--space-xs);
}

.margin-top-s {
  margin-top: var(--space-s);
}

.margin-top-m {
  margin-top: var(--space-m);
}

.margin-top-l {
  margin-top: var(--space-l);
}

.margin-top-xl {
  margin-top: var(--space-xl);
}

.margin-top-xxl {
  margin-top: var(--space-xxl);
}

.margin-top-xxxl {
  margin-top: var(--space-xxxl);
}

.margin-top-xxxxl {
  margin-top: var(--space-xxxxl);
}


.margin-right-none {
  margin-right: 0;
}

.margin-right-xs {
  margin-right: var(--space-xs);
}

.margin-right-s {
  margin-right: var(--space-s);
}

.margin-right-m {
  margin-right: var(--space-m);
}

.margin-right-l {
  margin-right: var(--space-l);
}

.margin-right-xl {
  margin-right: var(--space-xl);
}

.margin-right-xxl {
  margin-right: var(--space-xxl);
}

.margin-right-xxxl {
  margin-right: var(--space-xxxl);
}
