<%
  is_selected = @tags.include? tag.name
  tags = []
  tags << tag.name unless is_selected
%>

<% selected_style = " tag__selected" if is_selected %>
<li>
<%=
  button_to "#{tag.name}",
    entries_path(category: @category, tags: tags),
    class: "tags__tag padding-xxxs rounded #{style ||= ''} #{selected_style}"
%></li>
