.inline-list {
  li {
    display: inline;
  }
}

.inline-list > li::after {
  content: ' ';
  letter-spacing: 1em;
  background: linear-gradient(90deg, transparent calc(50% - 0.03125em), currentColor 0, currentColor calc(50% + 0.03125em), transparent 0);
}
