.tags {
  list-style: none;

  li {
    display: inline-block;
    margin-top: var(--space-xs);
    a {
      color: var(--color-dark)
    }
  }

  .tags__tag {
    font-size: var(--font-size-s);
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
  }

  .tags__category {
    background-color: var(--color-background);
    border-color: var(--color-dark);
  }

  .tag__selected {
    color: var(--color-tertiary);
    background-color: var(--color-dark);
    border: 1px solid var(--color-dark);
  }

  .tags__tag:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .tags__more-info {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-white);
  }
}
