<div class="navbar full-bleed cover__bottom background-dark" style="position: fixed">
  <ul class="inline-list foreground-white">
    <li><a href="#" class="foreground-white">Category</a></li>
    <li><a href="#" class="foreground-white">Category</a></li>
    <li><a href="#" class="foreground-white">Category</a></li>
    <li><a href="#" class="foreground-white">Category</a></li>
  </ul>
</div>
